html {
  /*
  width:100%;
  height:100%;
  */
  width: 100vw;
  height: 100vh;
  font-size:16px;
}
body {
  width:100%;
  height:100%;
  position: fixed;
  display: flex;
}
input {
 display: none;
}
.principal { /*main*/
  flex: 0 0 100%;
  display: flex;
}
.lbl-sc { /*label*/
  display: flex;
}

/* ************************************* */
/* BACKGROUND DAS SEÇÕES                 */
/* ************************************* */
/*
label:nth-child(even) section{background-color: lightblue;}
label:nth-child(odd) section{background-color: lightseagreen;}
*/
.lbl-sc .secao { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lbl-sc:nth-child(6) .secao { 
background-image: url(../imagens/aguia.jpg);
/*background-image: url(../imagens/amarelo-300x300-bg.jpg);*/
}
.lbl-sc:nth-child(7) .secao { 
/*background-image: url(https://source.unsplash.com/random/640x426/?pose);*/
background-image: url(../imagens/lilas-300x300-bg.jpg);
}
.lbl-sc:nth-child(8) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?people);*/
background-image: url(../imagens/vermelho-300x300-bg.jpg);
}
.lbl-sc:nth-child(9) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?blog);*/
background-image: url(../imagens/verde-300x300-bg.jpg);
}
.lbl-sc:nth-child(10) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?contact);*/
background-image: url(../imagens/azul-300x300-bg.jpg);
}

/* ************************************* */
/* SEÇÕES                                */
/* ************************************* */
.secao {
  width: 100%;
  height: 100%;
  padding: 1rem;
  
  color: #f2f2f2;
  
  display: flex;
  flex-direction: column;
  
  cursor: pointer;
  transition: all 0.35s ease;
  cursor: pointer;

  overflow: hidden;
  border: 1px solid black;
}
.sec-ativa .secao {
  justify-content: flex-end;
}


/* ESCONDE POR PADRÃO AS SEÇÕES */
.corpo, .rodape {display: none;}
/* MOSTRA AS SECÕES AO CLICAR */
.sec-ativa .corpo {display: flex;}
.sec-ativa .rodape {display: flex;}

/* ALINHA O CONTEUDO DA GUIA DA SEÇÃO NO CENTRO*/
.cabecalho { /*header*/
  display: flex;
  justify-content: center;
}
/* AO ABRIR A SEÇÃO, AJUSTA O CONTEÚDO A ESQUERDA*/
.sec-ativa .cabecalho {
  justify-content: flex-start;
}
.cabecalho { /*headet*/

}
.corpo { /*div*/
  flex-direction: column;
}
.rodape { /*footer*/

}

/* ***************************** */
/* titulos e paragrafos.         */
/* ***************************** */
h1, h2 {
  color: white;
  font-weight: 700;
}
h3 {
  color: white;
  font-weight: 500;
}

/* ************************************* */
/* CONTROLE DE MÍDIAS                    */
/* ************************************* */
@media only screen and (max-width: 1023px )
{
  .principal {
  flex-direction: column;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 7.5%;/*aqui*/
  }
  .secao {
    justify-content: center;
  }
  .sec-ativa {
  flex: 0 0 70%;
  color: red;
  }
}
@media only screen and (min-width: 1024px )
{
  .principal {
  flex-direction: row;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 10%;/*aqui*/
  }
  .secao {
    justify-content: flex-end;
  }
  .sec-ativa {
  flex: 0 0 60%;
  color: gold;
  }
  .secao .cabecalho {
    transform: translate(-20px, -50%) rotate(-90deg);
  }
  .sec-ativa .secao .cabecalho {
    transform: translate(0px, 0%) rotate(0deg);
  }
}

