@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html {
  /*
  width:100%;
  height:100%;
  */
  width: 100vw;
  height: 100vh;
  font-size:16px;
  user-select: none;
}
body {
  width:100%;
  height:100%;
  position: fixed;
  display: flex;
  
}
.esconder {
 display: none;
}
.principal { /*main*/
  flex: 0 0 100%;
  display: flex;
}
.lbl-sc { /*label*/
  display: flex;
}

/* ************************************* */
/* BACKGROUND DAS SEÇÕES                 */
/* ************************************* */
/*
label:nth-child(even) section{background-color: lightblue;}
label:nth-child(odd) section{background-color: lightseagreen;}
*/
.lbl-sc .secao { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.lbl-sc:nth-child(2) .secao { 
  background-image: url(../imagens/aguia.jpg);
  }
  .lbl-sc:nth-child(3) .secao { 
  background-image: url(../imagens/habilidades.jpg);
  }
  .lbl-sc:nth-child(4) .secao {
  background-image: url(../imagens/trabalhos.jpg);
  }
  .lbl-sc:nth-child(5) .secao {
  background-image: url(../imagens/blog.jpg);
  }
  .lbl-sc:nth-child(6) .secao {
  background-image: url(../imagens/contato.jpg);
  }

.lbl-sc .secao::after { 
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2e2e2e;
  opacity: 50%;
  position: absolute;
}
/* ************************************* */
/* SEÇÕES                                */
/* ************************************* */
.secao {
  width: 100%;
  height: 100%;
  cursor: pointer;
  

  color: #f2f2f2;
  
  display: flex;
  flex-direction: column;
  
  /*transition: all 0.35s ease;*/

  overflow: hidden;
  border: 1px solid black;
}
.sec-ativa .secao {
  justify-content: flex-end;
  padding: 1rem;
  cursor: default;
}

/* ESCONDE POR PADRÃO AS SEÇÕES */
.corpo, .rodape, .ttl-a {display: none;}
/* MOSTRA AS SECÕES AO CLICAR */
.sec-ativa .corpo {display: flex;}
.sec-ativa .rodape {display: flex;}
.sec-ativa .ttl-a {display: flex;}
.sec-ativa .ttl-b {display: none;}

/************************/

/* ALINHA O CONTEUDO DA GUIA DA SEÇÃO NO CENTRO*/
.cabecalho { /*header*/
  display: flex;
  justify-content: center;
  text-transform: uppercase; 
  z-index: 2;
}
/* AO ABRIR A SEÇÃO, AJUSTA O CONTEÚDO A ESQUERDA*/
.sec-ativa .cabecalho {
  justify-content: flex-start;
}
.corpo { /*div*/
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  z-index: 2;
}
.sec-ativa .corpo {
 } 
.rodape { /*footer*/
  z-index: 2;
}
.sec-ativa .rodape {
}
/* ***************************** */
/* titulos e paragrafos.         */
/* ***************************** */
.sec-ativa h1 {
  text-shadow: .5px .5px #000, 1px 1px #000, 1.5px 1.5px #000, 2px 2px #000;
  color: white;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 8px;
}
h2 {
  color: white;
  font-weight: 700;
  font-size: 25px;
}
.sec-ativa h2 {
  margin-bottom: 8px;
  font-size: 25px;
}
h3 {
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
  line-height: 1.1;
    font-size: 18px;

}
a, .a-sbmt {
  /*margin-top: 4px;*/
}
.botao a, .a-sbmt {
  /*margin-top: 4px;*/
  text-transform: uppercase;
  display: flex;
  padding: 3px 3px;
  border-radius: 11px;
  background-color: #2e2e2e;
  opacity: 90%;
  font-weight: 900;
  cursor: pointer;
}
.botao i {
  border: 1px solid #f0f0f0;
  font-weight: 900;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  border-right:none;
}
.botao span {
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 0 10px 10px 0;
  background-color: #2e2e2e;
} 

.botao a:link {font-weight: 900; color: #f2f2f2;}
.botao a:visited {font-weight: 900; color: #f2f2f2;}


.caixaLinkSociais a {font-weight: normal;}
.caixaLinkSociais a:link {color: #f2f2f2;}
.caixaLinkSociais a:visited {color: #f2f2f2;}
.caixaLinkSociais a:active {color: rebeccapurple;}

.caixaLinkSociais .fa-linkedin-in:hover {color: #007bb5;}
.caixaLinkSociais .fa-github:hover {color: black; position: relative; display: flex; align-items: center; justify-content: center;}
.caixaLinkSociais .fa-github:hover::before {z-index: 2;}
.caixaLinkSociais .fa-github:hover::after {content: ""; position: absolute; width: 90%; height:90%; border-radius: 50%; background-color: white;}
.caixaLinkSociais .fa-tiktok:hover {text-shadow: 1px 1px 2px magenta, -1px -1px 2px cyan; color: black;}
.caixaLinkSociais .fa-youtube:hover { color: #bb0000; position: relative; display: flex; align-items: center; justify-content: center;}
.caixaLinkSociais .fa-youtube:hover::before {z-index: 2;}
.caixaLinkSociais .fa-youtube:hover::after {content: ""; position: absolute; width: 60%; height:60%; border-radius: 50%; background-color: white;}
.caixaLinkSociais .fa-dribbble:hover {color: #ea4c89;}
.caixaLinkSociais .fa-twitter:hover {color: #55ACEE;}


.conjuntoDeCampos { 
  border: 1px outset gray;
  border-radius: 6px;
  padding: 10px 0px 8px 16px;
  background-color: rgba(0,0,0,0.2);
}
.linhaForm {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}
.colunaForm-a {
  width: 28%;
}
.colunaForm-b {
 width: 70%;
}

.mensagemContato, 
.assuntoContato,
.nomeContato, 
.emailContato
{
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}

.ultimaLinhaForm {
  margin-top: 28px;
}

.midiaSocial {
  margin-top: 18px;
  flex-direction: column;
  background: #2e2e2e;
  margin: 20px -3% -18px -3%;
}

.conjntoDeLinks {
  width: 100%;
}
.colunaForm-c {
  display: flex;
}
.ttl-c {
  text-transform: uppercase;
}
.caixaRodapeContato {
  display: flex;
  flex-wrap: wrap;
}
.caixaRodapeContato div:nth-child(1) {
  flex: 1 1 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  /*border: 1px solid black;*/
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.caixaRodapeContato div:nth-child(1) {
  padding-left: 25%;
  padding-right: 25%;
}
.caixaRodapeContato div:nth-child(2) {
  flex: 1 1 100%;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 18px 12px;
}
.caixaRodapeContato div:nth-child(2) p {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin: 0;
}
.labelContato {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}




/* ************************************* */
/* CONTROLE DE MÍDIAS                    */
/* ************************************* */
@media only screen and (max-width: 1023px )
{
  .principal {
  flex-direction: column;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 7.5%;/*aqui*/
  }
  .secao {
    justify-content: center;
  }
  .sec-ativa {
  flex: 0 0 70%;
  color: red;
  }
  .lbl-sc:nth-child(6) .secao { /*sobre*/
  background-position: 50% 40%;
  }
  .lbl-sc:nth-child(7) .secao { /*habilidades*/
  background-position: 65% 24%;
  }
  .lbl-sc:nth-child(8) .secao { /*trabalhos*/
    background-position: center;
  }
  .lbl-sc:nth-child(9) .secao { /*blog*/
    background-position: center;
  }
  .lbl-sc:nth-child(10) .secao { /*contato*/
  background-position: 75% 30%;
  }
}
@media only screen and (min-width: 1024px )
{
  .principal {
  flex-direction: row;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 10%;/*aqui*/
  }
  .secao {
    justify-content: flex-end;
  }
  .sec-ativa {
  flex: 0 0 60%;
  color: gold;
  }
  .lbl-sc:nth-child(6) .secao { /*sobre*/
  background-position: 46% 40%;
  }
  .lbl-sc:nth-child(7) .secao { /*habilidades*/
  background-position: 59% 24%;
  }
  .lbl-sc:nth-child(8) .secao { /*trabalhos*/
  background-position: 60% 0%;
  }
  .lbl-sc:nth-child(9) .secao { /*blog*/
  background-position: center;
  }
  .lbl-sc:nth-child(10) .secao { /*contato*/
  background-position: 64% 30%;
  }


  .secao .cabecalho {
    transform: translate(-20px, -85px) rotate(-90deg);
  }
  .sec-ativa .secao .cabecalho {
    transform: translate(0px, 0%) rotate(0deg);
  }
/**/
.secao .cabecalho {
  position: relative;
  justify-content: flex-start;
}
  .ttl-b {
    position: absolute;
  }

}

