@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html {
  /*
  width:100%;
  height:100%;
  */
  width: 100vw;
  height: 100vh;
  font-size:16px;
}
body {
  width:100%;
  height:100%;
  position: fixed;
  display: flex;
  
}
input {
 display: none;
}
.principal { /*main*/
  flex: 0 0 100%;
  display: flex;
}
.lbl-sc { /*label*/
  display: flex;
}

/* ************************************* */
/* BACKGROUND DAS SEÇÕES                 */
/* ************************************* */
/*
label:nth-child(even) section{background-color: lightblue;}
label:nth-child(odd) section{background-color: lightseagreen;}
*/
.lbl-sc .secao { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lbl-sc:nth-child(6) .secao { 
background-image: url(../imagens/aguia.jpg);
/*background-image: url(../imagens/amarelo-300x300-bg.jpg);*/
}
.lbl-sc:nth-child(7) .secao { 
/*background-image: url(https://source.unsplash.com/random/640x426/?pose);*/
background-image: url(../imagens/lilas-300x300-bg.jpg);
}
.lbl-sc:nth-child(8) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?people);*/
background-image: url(../imagens/vermelho-300x300-bg.jpg);
}
.lbl-sc:nth-child(9) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?blog);*/
background-image: url(../imagens/verde-300x300-bg.jpg);
}
.lbl-sc:nth-child(10) .secao {
/*background-image: url(https://source.unsplash.com/random/640x426/?contact);*/
background-image: url(../imagens/azul-300x300-bg.jpg);
}

/* ************************************* */
/* SEÇÕES                                */
/* ************************************* */
.secao {
  width: 100%;
  height: 100%;
  cursor: pointer;
  

  color: #f2f2f2;
  
  display: flex;
  flex-direction: column;
  
  /*transition: all 0.35s ease;*/

  overflow: hidden;
  border: 1px solid black;
}
.sec-ativa .secao {
  justify-content: flex-end;
  padding: 1rem;
  cursor: default;
}

/* ESCONDE POR PADRÃO AS SEÇÕES */
.corpo, .rodape, .ttl-a {display: none;}
/* MOSTRA AS SECÕES AO CLICAR */
.sec-ativa .corpo {display: flex;}
.sec-ativa .rodape {display: flex;}
.sec-ativa .ttl-a {display: flex;}
.sec-ativa .ttl-b {display: none;}

/************************/

/* ALINHA O CONTEUDO DA GUIA DA SEÇÃO NO CENTRO*/
.cabecalho { /*header*/
  display: flex;
  justify-content: center;
  text-transform: uppercase; 
}
/* AO ABRIR A SEÇÃO, AJUSTA O CONTEÚDO A ESQUERDA*/
.sec-ativa .cabecalho {
  justify-content: flex-start;
}
.corpo { /*div*/
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}
.sec-ativa .corpo {
  flex-basis: 30vh;
 } 
.rodape { /*footer*/
}
.sec-ativa .rodape {
}
/* ***************************** */
/* titulos e paragrafos.         */
/* ***************************** */
.sec-ativa h1 {
  text-shadow: .5px .5px #000, 1px 1px #000, 1.5px 1.5px #000, 2px 2px #000;
  color: white;
  font-weight: 900;
  /*font-size: 2.5rem;*/
  font-size: 28px;
  margin-bottom: 8px;
}
h2 {
  color: white;
  font-weight: 700;
}
.sec-ativa h2 {
  /*font-size: 2rem;*/
  margin-bottom: 8px;
  font-size: 25px;
}
h3 {
  /*font-size: 1.5rem;*/
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
  line-height: 1.1;
}
a {
  margin-top: 4px;
  text-transform: uppercase;
}

a:link {font-weight: 900;  color: #e91e39;}
a:visited {font-weight: 900;  color: #e91e39;}
a:hover {font-weight: 900;  color: #e91e39;}
a:active {font-weight: 900;  color: rebeccapurple;}



/* ************************************* */
/* CONTROLE DE MÍDIAS                    */
/* ************************************* */
@media only screen and (max-width: 1023px )
{
  .principal {
  flex-direction: column;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 7.5%;/*aqui*/
  }
  .secao {
    justify-content: center;
  }
  .sec-ativa {
  flex: 0 0 70%;
  color: red;
  }
}
@media only screen and (min-width: 1024px )
{
  .principal {
  flex-direction: row;/*aqui*/
  }
  .lbl-sc {
  flex: 0 0 10%;/*aqui*/
  }
  .secao {
    justify-content: flex-end;
  }
  .sec-ativa {
  flex: 0 0 60%;
  color: gold;
  }
  .secao .cabecalho {
    transform: translate(-20px, -50%) rotate(-90deg);
  }
  .sec-ativa .secao .cabecalho {
    transform: translate(0px, 0%) rotate(0deg);
  }
}

